Data Preaparation with Pandas Assignment problems Question 1

Create the following DataFrames: DataFrame name: orders_df

In [46]:
import pandas as pd
import numpy as np

In [47]:
orders_df=pd.DataFrame({'order_id':[1,2,3],'item':['pens','shirts','coffee']})
orders_df

   order_id    item
0         1    pens
1         2  shirts
2         3  coffee

In [48]:
orders1_df =pd.DataFrame({'order_id':[4,5,6],'item':['crayons','tea','fruits']})
orders1_df

   order_id     item
0         4  crayons
1         5      tea
2         6   fruits

In [49]:
customers_df=pd.DataFrame({"customers":["anne","mary","saj"]})
customers_df

  customers
0      anne
1      mary
2       saj

Perform the following Questionnaire operation: 1.Combine the details of the first two DataFramesorders_df and orders1_df? 2.Create a DataFrame to show the customers and the items they ordered? 3.Make the order_id column as the index for orders_df and customers_df? Which method would you now use to combine these two objects to show which orders were placed by customers?

In [50]:
DataFramesorders_df=[orders_df,orders1_df]
pd.concat(DataFramesorders_df,ignore_index=True)

   order_id     item
0         1     pens
1         2   shirts
2         3   coffee
3         4  crayons
4         5      tea
5         6   fruits

In [51]:
cus_item=pd.concat([customers_df,orders_df],join='inner',axis=1)
cus_item

  customers  order_id    item
0      anne         1    pens
1      mary         2  shirts
2       saj         3  coffee

In [52]:
orders_df.set_index("order_id",inplace=True)
orders_df

            item
order_id
1           pens
2         shirts
3         coffee

In [54]:
customers_df.join(orders_df)

  customers    item
0      anne     NaN
1      mary    pens
2       saj  shirts

image.png

Create the preceding DataFrame.
Convert this DataFrame into a tidy format.
Determine who among these four people had the least fluctuation in weight.
For people whose average weight is less than 65 kgs, convert their weight (on all four days) into pounds and display this data.*italicized text*

In [55]:
data=pd.DataFrame({'Anna':[51.0,52.0,51.4,52.8,50.5],'Ben':[70.0,70.5,69.1,69.8,70.5],'Carole':[64.0,64.2,66.8,66.0,63.4],'Dave':[81.0,81.3,80.5,80.9,81.4]})
data

   Anna   Ben  Carole  Dave
0  51.0  70.0    64.0  81.0
1  52.0  70.5    64.2  81.3
2  51.4  69.1    66.8  80.5
3  52.8  69.8    66.0  80.9
4  50.5  70.5    63.4  81.4

In [56]:
data.melt() #melt() function is useful to message a DataFrame into a format where one or more columns are identifier variables, while all other columns, considered measured variables, are unpivoted to the row axis, leaving just two non-identifier columns, variable and value.

   variable  value
0      Anna   51.0
1      Anna   52.0
2      Anna   51.4
3      Anna   52.8
4      Anna   50.5
5       Ben   70.0
6       Ben   70.5
7       Ben   69.1
8       Ben   69.8
9       Ben   70.5
10   Carole   64.0
11   Carole   64.2
12   Carole   66.8
13   Carole   66.0
14   Carole   63.4
15     Dave   81.0
16     Dave   81.3
17     Dave   80.5
18     Dave   80.9
19     Dave   81.4

In [57]:
data.melt().groupby("variable")["value"].var().sort_values()[:1]

variable
Dave    0.127
Name: value, dtype: float64

In [58]:
data.mean()

Anna      51.54
Ben       69.98
Carole    64.88
Dave      81.02
dtype: float64

In [59]:
(data[list(data.mean()[data.mean()<65].index)]*2.205).round(2)

     Anna  Carole
0  112.46  141.12
1  114.66  141.56
2  113.34  147.29
3  116.42  145.53
4  111.35  139.80